<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/desktop/style.css">
    <title>Desktop</title>
    <script src="/static/desktop/helper_func.js"></script>
</head>

<body bgcolor="Ubuntu18.04">
    <h2>Hello, world. You're at the Ubuntu desktop index.</h2>

    <div id="context-menu">
        <div class="item">Create New Folder</div>
        <div class="item">Create New Document</div>
        <div class="item">Move to Trash</div>
        <hr>
        <div class="item"> Reload</div>
        <div class="item">Exit</div>
    </div>
  </body>

</html>